{{define "subject"}}Welcome to Beiphfong{{end}}
{{define "plainBody"}}
Hi,

Thanks for joining Beiphfong!

For future reference, your user ID number is {{.ID}}

Best,
The Beiphfong Team
{{end}}

{{define "htmlBody"}}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <h1>Hi! {{.Username}}</h1>
    <p>Thanks for joining Beiphfong!.</p>
    <p>For future reference, your user ID number is {{.ID}}</p>
    <p>Best,</p>
    <p>The Beiphfong Team</p>
</body>
</html>
{{end}}
